[user]
	name = tetsujin
	email = tetsujin85@gmail.com

[alias]
  ci = commit
  co = checkout
  di = diff
  st = status
  br = branch

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[core]
	excludesfile = ~/.gitignore.global
	quotepath = false
	precomposeunicode = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[ghq]
	root = ~/src
[diff "xlsx"]
    binary = true
    textconv = $GOPATH/bin/git-xlsx-textconv
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
