[user]
	name = tetsujin
	email = tetsujin85@gmail.com

[alias]
  ci = commit
  co = checkout
  di = diff
  st = status
  br = branch

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[core]
	excludesfile = /Users/tetsujin/.gitignore.global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
